<h1>Show</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>price</th>
        <th>desc</th>
    </tr>

    <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
    </tr>

</table>